<%= for {aliaS, path} <- routes do %>import <%= aliaS %>RouteComponent from 'web/static/components/<%= aliaS %>RouteComponent.vue';
<% end %>

export default [<%= for {aliaS, path} <- routes do %>
    {
        path: '/<%= path %>',
        component: <%= aliaS %>RouteComponent
    },<% end %>
];
